<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>Login Form</title>

    <link rel="stylesheet" href="./signupstyle.css" />
  </head>

  <body>
    <!-- partial:index.partial.html -->

    <section>
      

      <div class="signin">
        <div class="content">
          <h2>Misfits</h2>
          <h4>Lets make your team with us!</h4>
          <h2>Login</h2>
          <form action="/home" method="POST">
            <div class="form">

            <div class="inputBox">
            
              <div class="inputBox">
                <input type="text" name="User_name" required /> <i>Username</i>
              </div>
              <div class="inputBox">
                <input type="text" name="Password" required /> <i>Password</i>
              </div>
              <div class="links">
                <a href="#">New User?</a> <a href="/signup">Sign Up</a>
              </div>
        

            <div class="inputBox">
              <input type="submit" value="Log In" />
            </div>
          </form></div>
        </div>
      </div>
    </section>
  </body>
</html>
